@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;500;700&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 62px;
	box-sizing: border-box;
}

.wrapper {
	padding: 91px 0 173px 0;
}

.content {
	font-family: 'Roboto', sans-serif;
}

.content-title {
	font-family: 'Roboto Slab', serif;
	font-size: 55px;
	font-weight: 700;
	line-height: 150%;
}

.content-intro {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 0 94px 0;
}

.intro-text {
	font-size: 24px;
	font-weight: 400;
	width: 50%;
	line-height: 36px;
}

.intro-figure {
	position: relative;
	width: min-content;
}

.intro-img {
	width: 314px;
	height: 315px;
}

.intro-shadow {
	position: absolute;
	left: 50%;
	bottom: -10%;
	z-index: -1;
	transform: translate(-50%, 0);
}

.content-additional {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.additional-img {
	width: 232px;
	height: 203px;
	margin-right: 132px;
	margin-bottom: 20px;
}

.additional-block {
	width: 150px;
	margin-right: 95px;
}

.additional-title {
	font-size: 25px;
	font-weight: 700;
	line-height: 32.5px;
}

.additional-text {
	font-size: 18px;
	font-weight: 400;
	line-height: 23.4px;
}

@media (max-width: 830px) {

	.content-title {
		font-size: 32px;
	}

	.intro-text {
		font-size: 14px;
	}

	.intro-img {
		width: 181px;
		height: 182px;
	}

	.intro-shadow {
		width: 212px;
		height: 34px;
	}

	.content-additional {
		align-items: flex-start;
		flex-wrap: wrap;
	}

	.additional-block {
		width: 108px;
	}

	.additional-img {
		display: none;
	}

	.additional-title {
		font-size: 15px;
	}

	.additional-text {
		font-size: 11px;
	}
}

@media (max-width: 375px) {

	.content-title {
		font-size: 26px;
		line-height: 150%;
	}

	.content-intro {
		flex-direction: column;
		align-items: center;
	}

	.intro-text {
		font-size: 12px;
		margin-bottom: 56px;
		width: 100%;
	}

	.intro-img {
		width: 147px;
		height: 147px;
	}

	.intro-shadow {
		width: 170px;
		height: 27px;
	}

	.content-additional {
		align-items: flex-start;
		flex-wrap: wrap;
	}

	.additional-block {
		width: 108px;
	}

	.additional-img {
		display: none;
	}

	.additional-title {
		font-size: 12px;
	}

	.additional-text {
		font-size: 10px;
	}
}



